@import "../../../../index-cloud-ens-portal-charte/src/main/sass/cloud-ens/variables";


.saved-searches {
  .btn {
    &.position-absolute {
      top: 0;
      right: 0;

      padding: {
        left: map-get($spacers, 2);
        right: map-get($spacers, 2);
      }

      color: $white;

      &:hover, &:focus {
        color: $secondary;
      }
    }
  }
}
